<h2>Question {{questions.index + 1 }}</h2>

<div class="score">
	<p>Score <span>{{questions.score}}</span></p>
</div>

<div id="timer">
	<span style="width:{{questions.timer+'%'}}"></span>
</div>

<div class="questions">
	<p>{{questions.list[questions.index].question}}</p>

	<form ng-submit="questions.submit()">
		<label ng-repeat="reponse in questions.list[questions.index].reponses">
				{{reponse.reponse}}
				<input name="radioreponse" type="radio" ng-click="questions.nextQuestion()" value="{{reponse.reponse}}" ng-model="questions.reponse">
		</label>
		<input type="submit" value="Question suivante" ng-show="questions.nextStatut">
	</form>
</div>