<h1>Resultat</h1>

<div class="resultat-final {{resultat.class}}">
	<p class="number-resultat">Votre résultat : <span>{{resultat.resultatfinal}}</span></p>

	<img src="{{resultat.img}}" alt="">

	<p>{{resultat.message}}</p>

	<form ng-submit="resultat.submit()">
	    <label>
	        Votre pseudo :
	        <input type="text" ng-model="resultat.pseudo">
	    </label>
	    <input type="submit" value="Enregistrer votre score" ng-disabled="!resultat.pseudo">
	</form>

	<nav>
		<a href="/#/questions"><< Refaire le test</a>
		<a href="/#/scores">Tableau des scores >></a>
	</nav>
</div>
